<div class="container my-5">
    <h2>Create Jury</h2>
    <form action="/admin/create" method="POST">
        <div class="form-group">
            <label for="username">Jury Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter jury username" required>
        </div>

        <div class="form-group mt-4">
            <label for="password">Jury Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter jury password" required>
        </div>

        <button type="submit" class="btn btn-success mt-4">Create Jury</button>
    </form>
</div>
