<div class="container my-5">
    <h2>All Juries</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {{#each juries}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <!-- Delete Button -->
                    <form action="/admin/delete-jury/{{this._id}}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>